{% extends 'blog/core.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10 colorclass">
        <h1 class="my-4 titlefont text-center">About</h1>
        <h2 style="font-family: 'Eczar', serif; letter-spacing: 1px;
    font-size: 30px;">
            Hey {{user}} ,
        </h2>
        <p class="abt">
            It's my pleasure that you are posting blogs on my site. 
            This blog site is created to share your thoughts, experiences and feelings.
            Thank You !!!
        </p>
    </div>
{% endblock content %}
