{% extends 'blog/core.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10 mt-5 colorclass">
    <h1 class="text-center my-3 titlefont">Contact Us</h1>
        <div class="row formfonts">
            <div class="mb-3" autocomplete="off">
                <label for="exampleFormControlInput1" class="form-label">Email address </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Feedback  </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <a href="mailto:amrutpatil9977@gmail.com" class="btn btn-primary btn-lg">Send</a>
    </div>
{% endblock content %}
